<div class="container">
   <%= bootstrap_form_for @tour do |form| %>
      <div class="panel-body">
      <% form.label :city %>
      <%= form.text_field :city %>
      
      <% form.label :subject %>
      <%= form.text_field :subject %>
      
      <% form.label :tour_title %>
      <%= form.text_field :tour_title %>
      
      <% form.label :tour_title_description %>
      <%= form.text_field :tour_title_description %>
      
      <% form.label :tour_title_image %>
      <%= form.text_field :tour_title_image %>



      <%= collection_select(:tour, :category_id, Category.all, :id, :category, prompt: true) %>

      <%= form.submit 'Save', class: 'btn btn-default' %>
      </div>

   <% end %>
</div>

