<div class="container">
  <div class="col-md-8">
    <h1><%= @tour.tour_title %></h1>
    <h3><%= @tour.city %> | <%= @tour.subject %></h3>
    <h4><%= @tour.tour_title_description %></h4>
    <hr>
  </div>
  <!-- Column for the User who created the tour -->
  <div class="col-md-4">
    <%= image_tag(@tour.tour_title_image, width: 200) %>
  </div>
</div>



<div class="container">
  <div class="col-md-8">  
    <% @tour.locations.each do |location| %>
      <p>location was added <%= time_ago_in_words(location.created_at) %> ago</p>
      <h2><%= location.location_title %></h2>
      <h4><%= location.location_address %></h4>
      <p><%= location.location_description %></p>
    <% end %>
  </div>
  <div class="col-md-4">
    <% @tour.locations.each do |location| %>  
    <%= image_tag(location.location_image, width: 200) %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= link_to 'Add Location', new_tour_location_path(@tour) %>
</div>
