<h1><%= @tour.tour_title %></h1>
  <ul>
    <li><%= @tour.city %></li>
    <li><%= @tour.subject %></li>
    <li><%= @tour.tour_title_description %></li>
    <li><%= @tour.tour_title_image %></li>
  </ul>

<%= link_to 'Add Location', new_tour_location_path(@tour) %>

<% @tour.locations.each do |location| %>
  <p>location was added <%= time_ago_in_words(location.created_at) %> ago</p>
  <h2><%= location.location_title %></h2>
  <p><%= location.location_address %></p>
  <p><%= location.location_description %></p>
  <p><%= location.location_image %></p>
  <%= image_tag(location.location_image, width: 400) %>
<% end %>
