<div class="container">
  <div class="panel-body">
    <%= bootstrap_form_for @user do |form| %>
       
       <%= form.text_field :name %>
       
       <% form.label :url %>
       <%= form.text_field :url %>
       
       <% form.label :picture %>
       <%= form.text_field :picture %>
       
       <% form.label :bio %>
       <%= form.text_field :bio %>
     
     <%= form.submit 'Save', class: 'btn btn-default' %>

    <% end %>
  </div>
</div>